h1 {
  animation:type 2s steps(46);
overflow:hidden;
  white-space:nowrap;
    font-family:arial;
    
    width:46ch;
}
@keyframes type {
  0% {
    width:0ch;
  }
  100% {
    width:46ch;
}

h1 {
  animation:type 0.5s steps(4);
overflow:hidden;
  white-space:nowrap;
    font-family:arial;
    
    width:4ch;
}
@keyframes type {
  0% {
    width:0ch;
  }
  100% {
    width:4ch;
}